attrs==23.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.0
cycler==0.12.1
decorator==4.4.2
fiona==1.9.5
fonttools==4.47.2
geographiclib==2.0
geopandas==0.14.2
geopy==2.4.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
kiwisolver==1.4.5
matplotlib==3.8.2
moviepy==1.0.3
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pillow==10.2.0
proglog==0.1.10
pyparsing==3.1.1
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.32.3
shapely==2.0.2
six==1.16.0
tqdm==4.66.4
tzdata==2023.4
urllib3==2.2.2
